# general
*.o
*.so

# xmonad 
xmonad-x86_64-linux
xmonad.errors
xmonad.hi

# vim general
.VimballRecord
.vim/.netrwhist

# vim commant-t
.vim/ruby/command-t/Makefile
.vim/ruby/command-t/ext.so
.vim/ruby/command-t/mkmf.log
.vim/ruby/command-t/ext.bundle

# vim commant-t
.vim/eclim
