[user]
	name = Andrzej Duś
	email = andrzej.dus@gmail.com
[alias]
    st = status
    co = checkout
    ci = commit -v
[color]
	ui = auto
[credential]
	helper = cache
[log]
	decorate = full
[push]
	default = upstream
[core]
	autocrlf = input
