UXTerm*background: black
UXTerm*foreground: white
UXTerm*faceName: Fixed
UXTerm*faceSize: 11
!UXTerm*font: *-Fixed-*-*-*-18-*
!UXTerm*boldFont: *-Fixed-*-*-*-18-*
UXTerm*boldMode: false
UXTerm*saveLines: 10000
*VT100.Translations: #override Shift <Key>Up: scroll-back(1) \n Shift <Key>Down: scroll-forw(1)

