[user]
	email = {{ .email }}
	name = Andrzej Duś
[alias]
	st = status
	co = checkout
	ci = commit -v
    lg = log --graph --decorate --color=always  --pretty=format:'%C(auto)%h%C(reset) %C(dim)%ad%C(reset) %s'  --date=short
[color]
	ui = auto
[credential]
	helper = cache
[log]
	decorate = full
[push]
	default = upstream
[core]
	autocrlf = input
[init]
	defaultBranch = main
[pager]
	branch = false
	log = false
    diff = false

