[user]
	email = {{ .email }}
	name = Andrzej Duś
[alias]
	st = status
	co = checkout
	ci = commit -v
    lg = log --graph --decorate --color=always  --pretty=format:'%C(auto)%h%C(reset) %C(green)%ad%C(reset) %C(bold)%an%C(reset)%C(dim)<%ae>%C(reset) %s'  --date=short
[color]
	ui = auto
[credential]
	helper = cache
[log]
	decorate = full
[push]
	default = upstream
	autoSetupRemote = 1
[core]
	autocrlf = input
[init]
	defaultBranch = main
[pager]
	branch = false
	log = false
    diff = false

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

